@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Rosario:wght@700&display=swap');

// font-family: 'DM Sans', sans-serif;
// font-family: 'Rosario', sans-serif;
// =============== Font famaly ===============
$dmSans: 'DM Sans', sans-serif;
$rosario: 'Rosario', sans-serif;

// =============== Color ===============

$color-primary: #222222;
$color-secondary: #555555;
$color-black: #000000;
$color-white: #ffffff;

// =============== color bacground  ===============
$color-bg-green-lt: #09a66d;
$color-bg-mint: #f3fbf8;

// =============== Default styles ===============
* {
  // margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

figure {
  margin: 0 auto;
}

img {
  object-fit: contain;
  display: block;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

// =============== Main styles ===============
body {
  font-family: $dmSans;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: $color-secondary;
}

.wrapper {
  max-width: 1440px;
}
.header {
  padding: 50px 0 43px 0;
  // .header__logo
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 57px;
  }

  // .header__block

  &__block {
    display: flex;
    align-items: center;
  }

  // .header__btn

  &__btn {
    width: 40px;
    padding: 10px 0;
    background-color: $color-bg-mint;
    background-image: url(../images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
  }

  // .header__link

  &__link {
    width: 160px;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
  }
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  // .menu____item

  &__item {
    &:not(:last-child) {
      margin: 0px 40px 0px 0px;
    }
  }
  // .menu__link

  &__link {
    color: $color-primary;
    line-height: 24px;
    cursor: pointer;
  }
}
.form {
  display: flex;
  align-items: center;
}
.search {
  width: 0;
}
// .btn {
// }
.cart {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 32px 0 20px;
  background-color: $color-bg-mint;
  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  &::before {
    content: '';
    width: 6.05px;
    height: 6.05px;
    position: absolute;
    top: 8px;
    right: 13px;
    border-radius: 50%;
    background: $color-bg-green-lt;
  }
}
.link {
  // .link__bg--green

  &__bg--green {
    background-color: $color-bg-green-lt;
    color: $color-white;
  }
}

.inner-title {
  color: $color-primary;
  font-family: $rosario;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.625rem;
}

// .main {
// }
.hero {
  background-color: $color-bg-mint;

  &__inner_wrapper {
    background-image: url(../images/fresh-melientha-suavis-pierre-leaves-white-surface.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding: 5.81rem 0 2.05rem 0;
    background-size: 34.45525rem 23.99806rem;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .hero_img

  &_img {
    position: relative;
    width: 53.88rem;
  }

  // .hero_link

  &_link {
    position: absolute;
    top: -18.63px;
    right: 25%;
    width: 176px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-primary;
    font-family: $dmSans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    cursor: pointer;
    &::after {
      content: '';
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background: $color-bg-green-lt url(../images/arrow-right.svg) no-repeat
        center;
      right: 0;
      top: 50%;
    }
  }

  // .hero_list

  &__list {
    display: flex;
    flex-direction: column;
    width: 250px;
    // padding: 17px 33px;
  }

  // .hero_item

  &__item {
    // background-color: $color-white;
    min-width: 184px;
    // height: 82px;
    margin: 0px 0px 30px 0px;
    &:nth-last-child(1) {
      margin: 0px 0px 0px 0px;
    }
    color: $color-black;
    text-align: center;
    font-family: $dmSans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    justify-content: center;
    padding: 17px 33px 17px 113px;
    & > span {
      font-size: 1.125rem;
      line-height: 1.875rem;
      margin: 0.25rem 0 0 0;
      align-items: center;
    }
    cursor: pointer;
  }

  &__item-user {
    background-color: $color-white;
    background-image: url(../images/Group_5246.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 33px;
    // padding: 0px 24px 0px 0px;
  }

  &__item-reviews {
    background-color: $color-white;
    background-image: url(../images/Group_5249.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 33px;
  }

  &__item-item {
    background-color: $color-white;
    background-image: url(../images/Group_5247.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 33px;
  }

  // .hero__title

  &__title {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  // .hero__desc

  &__desc {
    max-width: 39.81rem;
    text-align: center;
    margin: 0 auto 3.56rem auto;
  }
}
.innet-desc {
  color: $color-secondary;
  text-align: center;
  // font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.service {
  padding: 140.89px 0px 166.11px 0px;

  // .service__wrapper

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  // .service__content

  &__content {
    width: 670px;
    padding-bottom: 32px;
    position: relative;

    // .service__content_title

    &_title {
      margin-bottom: 20px;
    }

    // .service__content_desc

    &_desc {
      width: 637.01px;
      margin-bottom: 16px;
    }

    // .service__content_list

    &_list {
      width: 560px;
    }

    // .service__content_item

    &_item {
      position: relative;
      padding: 40px 59.7px 40px 164px;
      margin: 0px 0px 20px 0px;
      width: 500px;
      height: 160px;
      background: $color-white;
      cursor: pointer;
      transition: 0.3s linear;
      &:nth-last-child(1) {
        margin: 0px 0px 0px 0px;
      }
      &:hover {
        background: $color-bg-mint;
      }
      &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 80px;
        background: $color-bg-mint;
        border-radius: 50%;
        transform: translateY(-50%);
        top: 50%;
        left: 59.47px;
        transition: 0.3s linear;
      }
      &:hover::before {
        background: $color-white;
      }
    }
  }

  // .service__icon

  &__icon-delivery {
    background: url(../images/delivery-man.svg) no-repeat center;
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
  }

  &__icon-order {
    background: url(../images/shopping.svg) no-repeat center;
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    top: 50%;
    left: 79px;
    transform: translateY(-50%);
  }

  &__icon-service {
    background: url(../images/fast-time.svg) no-repeat center;
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    top: 50%;
    left: 79px;
    transform: translateY(-50%);
  }

  // .service__item-title

  &__item-title {
    color: $color-primary;
    font-family: $dmSans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    margin-bottom: 8px;
    display: block;
  }

  // .service__item-text

  &__item-text {
    color: $color-secondary;
    font-family: $dmSans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    display: block;
  }

  // .service__img

  &__img {
    width: 569px;
    height: 569px;
    display: flex;
    justify-content: center;
    background-image: url(../images/elips-fruit.png), url(../images/Ellipse-bg.png) ;
    background-repeat: no-repeat;
    background-position: bottom 80px center, right 0 bottom 0;
    background-size: 398px, contain;
    padding-top: 31px;
    & figure{
      width: 354px;
      animation: movImge 2s linear infinite ;
    }
  }
}

.arrow-down {
  position: absolute;
  width: 15px;
  height: 34px;
  background: url(../images/arrow-down.svg) no-repeat center;
  bottom: 0;
  left: 35%;
  cursor: pointer;
  animation: move 1.5s linear infinite;
}


@keyframes move {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes movImge {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
