@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Rosario:wght@700&display=swap');

// font-family: 'DM Sans', sans-serif;
// font-family: 'Rosario', sans-serif;
// =============== Font famaly ===============
$dmSans: 'DM Sans', sans-serif;
$rosario: 'Rosario', sans-serif;

// =============== Color ===============

$color-primary: #222222;
$color-secondary: #555555;
$color-black: #000000;
$color-white: #ffffff;

// =============== color bacground  ===============
$color-bg-green-lt: #09a66d;
$color-bg-mint: #f3fbf8;

// =============== Default styles ===============
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  object-fit: contain;
  display: block;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

// =============== Main styles ===============
body {
  font-family: $dmSans;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: $color-secondary;
}

.wrapper {
  max-width: 1440px;
}
.header {
  padding: 50px 0 43px 0;
  // .header__logo
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 57px;
  }

  // .header__block

  &__block {
    display: flex;
    align-items: center;
  }

  // .header__btn

  &__btn {
    width: 40px;
    padding: 10px 0;
    background-color: $color-bg-mint;
    background-image: url(../images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
  }

  // .header__link

  &__link {
    width: 160px;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
  }
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  // .menu____item

  &__item {
    &:not(:last-child) {
      margin: 0px 40px 0px 0px;
    }
  }
  // .menu__link

  &__link {
    color: $color-primary;
    line-height: 24px;
    cursor: pointer;
  }
}
.form {
  display: flex;
  align-items: center;
}
.search {
  width: 0;
}
.btn {
}
.cart {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 32px 0 20px;
  background-color: $color-bg-mint;
  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  &::before {
    content: '';
    width: 6.05px;
    height: 6.05px;
    position: absolute;
    top: 8px;
    right: 13px;
    border-radius: 50%;
    background: $color-bg-green-lt;
  }
}
.link {
  // .link__bg--green

  &__bg--green {
    background-color: $color-bg-green-lt;
    color: $color-white;
  }
}
